/**
 * Bluebasic dark
 * Scheme for Hubzilla
 * Version 0.1
 * Maintained by BOET@nexxt.social 


/* generals */

body {
    background-color: #363636; 
}

.navbar-dark .navbar-nav .nav-link, .usermenu i {
    color: rgba(255, 255, 255, 0.9) !important;
}

.bg-dark, #menu_logo, .widget h3, .bg-primary {
    background-color: #000000 !important;
}

.widget {
    background-color: rgba(254,254,254,.9);
 }

.wall-item-content-wrapper {
    background-color: #ffffff;
}

.wall-item-body a {
    color: #1b1935 !important; 
    padding-left: 2px;
    text-decoration: underline;
}
.wall-item-body a:hover {
    color: #000 !important; 
    padding-left: 2px;
    text-decoration: none;
    font-weght: bold;
}

.rounded-top, .wall-item-content-wrapper {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.dropdown-item.active {
    color: #fff !important;
}

table {
    background: #e9e9e9;
    width: 100%;
}
.title {
    color: #000;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
        padding-right: 0.4em;
        padding-left: 0.4em;
    font-weight: 400 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0 !important;
    font-size: 0.9rem !important;

}
