/**
 * Bluebasic default
 * Scheme for Hubzilla
 * Version 0.1
 * Maintained by BOET@nexxt.social 


/* generals */

body {
    background-color: #e9e9e9; 
}

.navbar-dark .navbar-nav .nav-link, .usermenu i {
    color: rgba(255, 255, 255, 0.9) !important;
}

.widget {
    background-color: rgba(254,254,254,.9);
 }

.wall-item-content-wrapper {
    background-color: #ffffff;
}

.bg-primary {
    background-color: $nav_bg !important;
}

.rounded-top, .wall-item-content-wrapper {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.dropdown-item.active {
    color: #fff !important;
}
