/**
 * This css file needs to live in your main "theme" folder, on top of any of your themes.  
 * Maintained by boet@nexxt.social
 */
 
.oembed.video {
    padding-top: 56.25% !important;
    width: 100% !important;
    margin: 0em 0em 2em 0em !important;
    height: 500px;
}

iframe {
    width: 100%;
    position: relative;


}


